#root {
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100vh;
}

.header__title {
  font-size: 4em;
}

.gameboard {
  max-height: 500px;
  height: 100%;
  max-width: 500px;
  width: 100%;
  border-collapse: collapse;
}

.gameboard__row {
  position: relative;
}

.gameboard__row:after {
  display: block;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  position: absolute;
  height: 15px;
  background-color: #000;
  border-radius: 15px;
}
.gameboard__cell {
  position: relative;
}
.gameboard__cell::before {
  display: block;
  right: 0;
  bottom: 0;
  content: "";
  width: 15px;
  position: absolute;
  height: 100%;
  background-color: #000;
}

.gameboard__cell:last-child::before {
  display: none;
}

.gameboard__row:first-child .gameboard__cell::before {
  border-radius: 15px;
}

.gameboard__row:last-child .gameboard__cell::before {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.gameboard__row:last-child::after {
  display: none;
}

.gameboard__button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0;
}
