@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  font-family: "Pacifico", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.header__title {
  font-size: 4em;
}
